@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme{
  --font-playfair: "Playfair Display", serif;
  --font-mulish: "Mulish", sans-serif;
  --font-greatvibes: "Great Vibes", cursive;
  --color-lightbrown: #F2EFEB;
  --color-darkbrown: #C8A97E;
  --color-dark: #262626;
}

@layer base {
  body {
      @apply font-mulish;
  }
}

@layer components {
  .h3-heading{
    @apply text-3xl md:text-4xl font-playfair font-bold text-gray-900 mt-2 mb-5;
  }
  .btn-primary {
      @apply px-12 py-3 border-1 rounded-full text-white uppercase font-light tracking-widest transition duration-300;
  }
  .btn-secondary{
    @apply px-12 py-3 border-1 rounded-full text-gray-950 uppercase tracking-widest transition duration-300 bg-gray-100 ;
  }
  .animate-bg-slider{
    @apply bg-cover bg-center transition-all duration-[1500ms] ease-in-out transform;
  }
    
}

@layer utilities {
  @keyframes scale-loop {
    0%, 100% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.05);
      }
  }

  .animate-scale-loop {
      @apply animate-[scale-loop_20s_infinite_alternate_ease-in-out];
  }
}