@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme{
  --font-playfair: "Playfair Display", serif;
  --font-mulish: "Mulish", sans-serif;
  --font-greatvibes: "Great Vibes", cursive;
  --color-lightbrown: #F2EFEB;
  --color-darkbrown: #C8A97E;
  --color-dark: #262626;
}

@layer base {
  body {
      @apply font-mulish;
  }
}

@layer components {
  .title{
    @apply px-6 text-4xl md:text-6xl font-playfair font-light uppercase text-dark;
  }
  .subtitle{
    @apply text-darkbrown text-3xl md:text-5xl font-greatvibes tracking-wider;
  }
  .title-line{
    @apply h-[2px] bg-darkbrown flex-1;
  }
  .title-wrapper{
    @apply flex items-center w-full pb-12 md:pb-16;
  }
  .service-subtitle{
    @apply mt-3 text-xl text-dark font-mulish font-light tracking-wide;
  }
  .service-wrapper{
    @apply flex flex-col items-center;
  }
  .service-img-wrapper{
      @apply w-36 h-36 flex items-center justify-center rounded-full border-2 border-darkbrown bg-white shadow-lg;
  }
  .animate-bg-slider{
    @apply bg-cover bg-center transition-all duration-[1500ms] ease-in-out transform;
  }
  .main-btn{
    @apply inline-block px-6 py-3 uppercase tracking-wide bg-lightbrown text-dark text-lg rounded-full transition-all duration-300;
  }
  .info-title{
    @apply font-bold text-darkbrown tracking-wide;
  }
}

@layer utilities {
  @keyframes scale-loop {
    0%, 100% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.05);
      }
  }

  .animate-scale-loop {
      @apply animate-[scale-loop_20s_infinite_alternate_ease-in-out];
  }
}